name: Update EPG XML Disney Channel East

on:
  schedule:
    - cron: '0 0 * * *'  # Runs at midnight UTC daily
  workflow_dispatch:  # Allows manual runs

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create individual folder if it doesn't exist
        run: mkdir -p individual

      - name: Fetch EPG XML
        run: curl -o individual/USA-Disney_Channel_East.xml "https://epg.pw/api/epg.xml?lang=en&date=$(date +%Y%m%d)&channel_id=403788"

      - name: Add XML Declaration and DOCTYPE
        run: |
          sed -i '1s|$| <!DOCTYPE tv SYSTEM "xmltv.dtd">|' individual/USA-Disney_Channel_East.xml

      - name: Check for Title "Bluey" in XML and Add Icon and Categories
        run: |
          if grep -q '<title lang="zh">Bluey</title>' individual/USA-Disney_Channel_East.xml; then
            echo "Found Bluey in the EPG XML!"
            sed -i '/<title lang="zh">Bluey<\/title>/a \
            <icon src="https://cdn-images.dzcdn.net/images/artist/738bd26f2c031830bcddbe883411fcca/1900x1900-000000-80-0-0.jpg"/>\
            <category lang="en">Series</category>\
            <category lang="en">Animation</category>\
            <category lang="en">Comedy</category>\
            <category lang="en">Drama</category>\
            <category lang="en">Kids</category>' individual/USA-Disney_Channel_East.xml
          else
            echo "Bluey not found in the EPG XML."
          fi

      - name: Check for Title "Mickey Mouse Clubhouse" in XML and Add Icon and Categories
        run: |
          if grep -iq '<title[^>]*>Mickey Mouse Clubhouse</title>' individual/USA-Disney_Channel_East.xml; then
            echo "Found Mickey Mouse Clubhouse in the EPG XML!"
            sed -i '/<title[^>]*>Mickey Mouse Clubhouse<\/title>/a \
            <icon src="https://play-lh.googleusercontent.com/bqEcu3u2ZXANY_HqhPAgfGvi4_UZ9m7wNHuz3gFjn2Urxw745-D6Va-e4Fh-Im806mMI8kFDhQWAFmLZM7c"/>\
            <category lang="en">Educational</category>\
            <category lang="en">Animation</category>\
            <category lang="en">Comedy</category>\
            <category lang="en">Kids</category>' individual/USA-Disney_Channel_East.xml
          else
            echo "Mickey Mouse Clubhouse not found in the EPG XML."
          fi


      - name: Commit and push if changed
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add individual/USA-Disney_Channel_East.xml
          git commit -m "Updated EPG $(date +%Y-%m-%d)" || echo "No changes to commit"
          git pull --rebase --autostash
          git push --force
